@using ChamCong.Models;
@{
    ViewBag.Title = "DanhSachChiTietPhongBan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <h4 class="fw-bold py-3 mb-4">DANH SÁCH NHÂN VIÊN PHÒNG BAN</h4>
        </div>
    </div>
    <!-- Hoverable Table rows -->
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Mã nhân viên</th>
                        <th>Tên nhân viên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Giới tính</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @{ 
                        var stt = 1;
                        foreach(var item in ViewBag.query)
                        {
                                        <tr class="text-center">
                                            <td>@stt</td>
                                            <td>@item.ID</td>
                                            <td>@item.HOTEN</td>
                                            <td>@item.EMAIL</td>
                                            <td>@item.SDT</td>
                                            @if (@item.GIOITINH == true)
                                            {
                                                <td>Nam</td>

                                            }
                                            else
                                            {
                                                <td>Nữ</td>
                                            }

                                        </tr>
                            stt++;
                        }
                    }
                            
                            
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Hoverable Table rows -->


</div>
<!-- / Content -->
