@using ChamCong.Models;
@model LuongNhanVien
@{
    ViewBag.Title = "TinhLuong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <h4 class="fw-bold py-3 mb-4"></h4>
        </div>
        <div class="">
            <form method="get">
                <div class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme mb-4" style="z-index: 0 !important;">
                    <div class="navbar-nav align-items-center">
                        <div class="nav-item d-flex align-items-center">
                            <button style="border: none; background-color:transparent;"><i class="bx bx-search fs-4 lh-0"></i></button>
                            <input class="form-control border-0 shadow-none" type="text" name="name" placeholder="Tìm kiếm tên nhân viên" />
                        </div>
                    </div>

                </div>
            </form>
            <a href="#" id="exportExcelLink" class="mb-4 btn btn-success">Xuất file Excel</a>
        </div>
    </div>
    <!-- Hoverable Table rows -->
    <form id="frmCapNhatLuong">
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>STT</th>
                            <th>Mã nhân viên</th>
                            <th>Họ tên</th>
                            <th>Số công</th>
                            <th>Lương cơ bản</th>
                            <th>Phụ cấp</th>
                            <th>Bảo hiểm</th>
                            <th>Tổng lương</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @{
                            var stt = 1;
                            foreach (var item in ViewBag.query)
                            {
                                <tr class="text-center">
                                    <td>@stt</td>
                                    <td>@item.ID_NHANVIEN</td>
                                    <td>@item.HoTen</td>
                                    <td>@item.SoNgayChamCong</td>
                                    <td>
                                        <input type="number" class="form-control" name="luongcb" value="@item.Luong_CB" style="width: 120px" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" name="sotien" value="@item.SoTien" style="width: 110px" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" name="mucdong" value="@item.Muc_Dong" style="width: 110px" />
                                    </td>
                                    <td class="convert-number">@item.TongLuong</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" data-id="@item.ID_NHANVIEN" onclick="capNhatLuong(this)">Cập nhật</button>
                                    </td>
                                </tr>
                                stt++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="demo-inline-spacing">

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item prev">
                        <a class="page-link" href="javascript:void(0);" id="prevPage">
                            <i class="tf-icon bx bx-chevrons-left"></i>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <li class="page-item next">
                        <a class="page-link" href="javascript:void(0);" id="nextPage">
                            <i class="tf-icon bx bx-chevrons-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<!-- / Content -->
<script>
    let today = new Date();
    let month = today.toLocaleString('default', { month: 'long' });
    let heading = document.querySelector('h4');
    heading.textContent = `BẢNG LƯƠNG CỦA NHÂN SỰ TRONG ${month.toUpperCase()}`;

    document.querySelectorAll('.convert-number').forEach(function (element) {
        var number = element.textContent.split(' ')[0];
        element.textContent = Number(number).toLocaleString('vi-VN');
    });

    // Xử lý khi nhấp vào nút "left"
    document.getElementById("prevPage").addEventListener("click", function() {
        var currentPage = parseInt("@ViewBag.CurrentPage");
        if (currentPage > 1) {
            var prevPage = currentPage - 1;
            window.location.href = "?page=" + prevPage;
        }
    });

    // Xử lý khi nhấp vào nút "right"
    document.getElementById("nextPage").addEventListener("click", function() {
        var currentPage = parseInt("@ViewBag.CurrentPage");
        var totalPages = parseInt("@ViewBag.TotalPages");
        if (currentPage < totalPages) {
            var nextPage = currentPage + 1;
            window.location.href = "?page=" + nextPage;
        }
    });
    // Ẩn nút "prevPage" khi đang ở trang đầu tiên
    var currentPage = parseInt("@ViewBag.CurrentPage");
    if (currentPage === 1) {
        document.getElementById("prevPage").style.display = "none";
    }

    // Ẩn nút "nextPage" khi đang ở trang cuối cùng
    var totalPages = parseInt("@ViewBag.TotalPages");
    if (currentPage === totalPages) {
        document.getElementById("nextPage").style.display = "none";
    }

    document.getElementById("exportExcelLink").addEventListener("click", function () {
        // Tạo yêu cầu GET đến hành động ExportToExcel trong Controller
        window.location.href = "/Staff/ExportToExcelSalary";
    });
</script>
<script>
    function capNhatLuong(btn) {
        var id_nhanvien = $(btn).data("id");
        var sotien = $(btn).closest("tr").find("input[name=sotien]").val();
        var mucdong = $(btn).closest("tr").find("input[name=mucdong]").val();
        var luongcb = $(btn).closest("tr").find("input[name=luongcb]").val();
        $.ajax({
            url: "/Staff/CapNhatLuong",
            type: "POST",
            data: {
                id_nhanvien: id_nhanvien,
                sotien: sotien,
                mucdong: mucdong,
                luongcb: luongcb
            },
            success: function (result) {
                alert("Cập nhật thành công!");
                // Reload trang để hiển thị dữ liệu mới
                location.reload();
            },
            error: function () {
                alert("Có lỗi xảy ra, vui lòng thử lại sau!");
            }
        });
    }
</script>

